/* Root Variables */
:root {
    --primary-color: #007BFF;
    --secondary-color: #0056b3;
    --background-color: #f4f4f4;
    --text-color: #333;
    --border-color: #0d0d0d;
}

/* General Styles */
body {
    font-family: 'Newsreader', Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex; /* Make body a flex container */
    flex-direction: column;   /* Arrange children vertically */
    min-height: 100vh;        /* Set minimum height to viewport height */
}

/* Container Styles */
.container {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-top: 50px;
    background-color: #fff;
}

/* Sidebar Styles */
.sidebar {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    margin-right: 10px;
    margin-left: 10px;
    /*border-right: 1px solid var(--border-color);*/
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-container h1 {
    margin-top: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content Styles */
main {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    text-align: center;
    border: 1px solid var(--border-color);
    margin-right: 10px;
}

main section {
    max-width: 800px;
    margin: 0 auto;
}

main h2 {
    margin-top: 0;
}

/* Footer Styles */
footer {
    background-color: #fff;
    color: var(--text-color);
    text-align: left;
    padding: 10px;
    /*border-top: 1px solid var(--border-color);*/
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid var(--border-color);
    }

    main {
        width: 100%;
    }
}
