/* Root Variables */
:root {
    --primary-color: #007BFF;
    --secondary-color: #0056b3;
    --background-color: #232121;
    --text-color: #f8f4f4;
    --border-color: #ffffffd3;
}

/* Full screen transition */
.transition-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-color); 
    opacity: 0; /* Transparent initially */
    transform: translateX(-100%); /* Positioned off-screen */
    transition: transform 0.2s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 1000;
}

.transition-overlay.active {
    transform: translateX(0); /* Slides into view horizontally */
    opacity: 1; /* Fades in */
}


/* General Styles */
body {
    font-family: 'Newsreader', Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex; /* Make body a flex container */
    flex-direction: column;   /* Arrange children vertically */
    min-height: 100vh;        /* Set minimum height to viewport height */
}

/* Container Styles */
.container {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-top: 50px;
    background-color: var(--background-color);
}

/* Header and Dropdown Styles */
header {
    position: relative;
    padding: 10px;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;    
    justify-content: flex-end; /* Aligns button to the right */
}

.menu-toggle {
    font-size: 16px;
    color: var(--text-color);
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 101; /* Ensures the button is always on top */
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-text {
    font-family: 'Newsreader', Arial, sans-serif;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.dropdown-menu ul li {
    margin: 5px 0;
}

.dropdown-menu a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 5px 10px;
}

a:hover {
    text-decoration: none;    
    background-color: var(--secondary-color);
    border-radius: 4px;
}

/* Show dropdown when active */
.dropdown-menu.active {
    display: block;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
}

/* Main Content Styles */
main {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--background-color);
    text-align: left;
    border: 1px solid var(--border-color);
    margin: 20px auto;
    max-width: 1300px; /* Limits the width of the main content */    
    border-radius: 8px; /* Adds rounded corners to the border */
}

main section {
    max-width: 800px;
    margin: 0 auto;
}

main h2 {
    margin-top: 150px;
    font-size: 40px;
    border-bottom: 2px solid var(--border-color); /* Adds a line under the heading */    
    padding-bottom: 20px; /* Adds spacing between the line and the text below */    
    margin-bottom: 30px; /* Adds spacing between the heading and the following content */
}

main p {
    font-size: 20px;
}

/* Projects Page */

.project {
    margin-top: 20px;
}

.project h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.more-projects {
    margin-top: 100px; /* Adjust the value to control spacing */
}

/* Button for GitHub website */
.button-link {
    display: inline-block; /* Makes it behave like a button */
    padding: 10px 20px; /* Adjust padding for size */
    background-color: var(--primary-color); /* Button background */
    color: var(--text-color) !important; /* Text color */
    text-decoration: none; /* Removes underline from link */
    border: 2px solid var(--primary-color); /* Button border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Text size */
    font-weight: bold; /* Bold text */
    text-align: center; /* Center text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth hover effect */
}

.button-link:hover {
    background-color: var(--secondary-color); /* Change background on hover */
    color: var(--text-color); /* White text on hover */
    text-decoration: none !important;
}

/* Contact Form */
.contact-form {
    max-width: 900px;
    margin: 50px auto; /* Centers the form horizontally */
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    font-family: 'Newsreader', Arial, sans-serif;
    font-size: 16px;
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}

.contact-form button[type="submit"] {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 12px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
    display: block;
    margin: 20px auto; /* Center the button horizontally */
}

.contact-form button[type="submit"]:hover {
    background-color: var(--secondary-color);
}

/* Footer Styles */
footer {
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    padding: 10px;
}

/* Mobile styles */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        margin-top: 10px;
    }

    .main {
        padding: 10px;
        margin: 10px;
        border-radius: 3px;
    }
}

